/* Make the invisible visible */
h1{
	height:200px;
	background-color:lightgray;
}
head{
	height:10px;
}



* {
  border: thin red solid;
}

.row{
	clear:both;
}

.button{
	  background-color: blue;
  color: white;

}

.firstrow{
	  	 float: left;
  width: 33%;}
}


  .screenshot{
  	  float: left;
  width: 66%;
  }

  .caption{
  	 float: left;
  width: 33%;}
  }

.bottom {
  float: left;
  width: 25%;
}
.clearfix {
  clear: both;
}